<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <title>Home</title>
</head>

<body>
    {% include 'navbar.html' %}
    <main>
        <div class="banner">
            <h1>Session Summary</h1>
            <h2>Good Progress, {{ current_user.username }}!</h2>
        </div>

        <div class="container">
            <h4>You have thrown {{ count }} items. Keep it up!</h4>

            <h3>Thank you for your contribution!</h3>
        </div>

        <div class="container">
            <form action="{{ url_for('home') }}">
                <button type="submit">Return to Home</button>
            </form>
        </div>
    </main>
    
</body>
</html>