<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <title>Leaderboard</title>
</head>

<body class="body-home">
  {% include 'navbar.html' %}
  <main>
    
    <div class="fulllength"> 
        <h1>Leaderboards</h1>
        <h2>See how you stack up against other users!</h2>
    </div>
    <div class="container">
        <table class="table-borderless">
            <thead class="table-dark">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th class="text-end">Trash Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ current_user_rank.rank }}.</td>
                    <td>{{ current_user_rank.username }}</td>
                    <td class="text-end">{{ current_user_rank.trash_count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h2>Global Rankings</h2>
        <table class="table-borderless">
            <thead class="table-dark">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th class="text-end">Trash Count</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in leaderboard %}
                <tr>
                    <td>{{ entry.rank }}.</td>
                    <td>{{ entry.username }}</td>
                    <td class="text-end">{{ entry.trash_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

 
  </main>
</body>
</html>