<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
    <title>User Information</title>
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="banner">
            <h1>User Management</h1>
        </div>

        <div class="container">
            <div class="selector">
                <span>Admin Toolbar</span>
                <form action="{{ url_for('manage_users') }}" style="margin-left:auto; float: right;">
                    <button type="submit">Manage Users</button>
                </form>
                <form action="{{ url_for('manage_bins') }}" style="margin-left:1rem; float: right;">
                    <button type="submit">Manage Bins</button>
                </form>
            </div>
        </div>

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Role     </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.userlv }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('update_user_role', user_id=user.id) }}">
                                <select name="role">
                                    <option value="User" {% if user.userlv == 'User' %}selected{% endif %}>User</option>
                                    <option value="Admin" {% if user.role == 'Admin' %}selected{% endif %}>Admin</option>
                                </select>
                                <button type="submit" style="margin-top: 0.5rem;">Update Role</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </main>
</body>

</html>