<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <title>Personal Page</title>
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="banner">
            <h1>{{ current_user.username }}'s Personal Page</h1>
            <h2>Let's see what you be up to deez days</h2>
        </div>
        <div class="container">
            <h3>Recycling Heatmap</h3>
            <div class="plot-container">
                {{ plot|safe }}
            </div>
        </div>
        <div class="container">
            <h3>Recycling Statistics</h3>
            <table>
                <tr>
                    <th>Recycling in Last Month</th>
                    <th>Longest Streak</th>
                    <th>Current Streak</th>
                </tr>
                <tr>
                    <td>{{ recycling_last_month }}</td>
                    <td>{{ longest_streak }}</td>
                    <td>{{ current_streak }}</td>
                </tr>
                <tr>
                    <td>{{ recycling_last_month_dates }}</td>
                    <td>{{ longest_streak_dates }}</td>
                    <td>{{ current_streak_dates }}</td>
                </tr>
            </table>
        </div>
        <div class="container">
            <div class="selector">
                <div class="user-icon">{{ current_user.username[0].upper() }}</div>
                <span>{{ current_user.username }}</span>
                <form action="{{ url_for('logout') }}" method="post" style="margin-left: auto;">
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            </div>
        </div>
        
        <!-- This is a admin toolbar-->
        {% if current_user.is_authenticated %}
        <div class="container">
            <div class="selector">
                <span>Admin Toolbar</span>
                <form action="{{ url_for('manage_users') }}" style=" margin-left:auto; float: right;">
                    <button type="submit">Manage Users</button>
                </form>
                <form action="{{ url_for('manage_bins') }}" style=" margin-left:1rem; float: right;">
                    <button type="submit">Manage Bins</button>
                </form>
            </div>
        </div>
        {% endif %}
    </main>
</body>
</html>