<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
    <title>Register</title>
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="banner">
            <h1>Registering to The SingProJet</h1>
            <h2>Welcome to the The SingProJet!</h2>
        </div>
        <div class="container">    
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(value="user") }}
                    {% if form.username.errors %}
                        
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                        
                    {% endif %}
                </div>      
                <div class="form-group">
                    {{ form.user_password.label }}
                    {{ form.user_password }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password }}
                </div>
                {{ form.submit }}
            </form>
            <div class="container">
                <a href="{{ url_for('login') }}">Already have an account? Sign in here</a>
            </div>
        </div>
    </main>
</body>
</html>