<!-- This is a admin toolbar-->

<header>
    <nav class="toolbar">
        <ul>
            <li><a href="{{url_for('manage_users')}}">Manage Users</a></li>
            <li><a href="{{url_for('manage_bins')}}">Manage Bins</a></li>

        {% if current_user.is_authenticated %}
        <div class="user-section">
            <div class="user-icon">{{ current_user.username[0].upper() }}</div>
            <span>{{ current_user.username }}</span>
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>
    {% endif %}
    </nav>
</header>